.carouselItem {
  width: 10%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 250px;
  margin-right: 250px;
  padding-bottom: 16px;
}

.projectNumber {
  margin-top: 73px;
  font-family: "Grotesque Black";
  font-weight: bold;
  font-size: 12px;
}

.projectName {
  font-family: "Grotesque";
  font-size: 12px;
}
