.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Gotham;
  font-size: large;
}

.initial {
  height: 0vh;
}

.expand {
  background-color: beige;
  width: 100vw;
  height: 100vh;
  transition-duration: 300ms;
  bottom: 0;
  left: 0;
  position: fixed;
}
