.root {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  overflow-x: hidden;
}

.loading {
  overflow-y: hidden;
}

.snap {
  position: relative;
  height: 100vh;
  scroll-snap-align: start;
}
