.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  padding-right: 48px;
}

.bigFont {
  font-family: Grotesque;
  font-size: 160px;
  letter-spacing: 0px;
  line-height: 0.71em;
  text-align: end;
}

.middle {
  margin-top: 16px;
  margin-bottom: 16px;
}

.st0 {
  fill: #ffffff;
}
.st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.02;
  stroke-miterlimit: 10;
}

.svg {
  enable-background: new 0 0 16 16;
  height: 300px;
  width: 300px;
}

.text {
  margin-top: 24px;
}
